@import url(../vendor/normalize.css);
@import url(../vendor/fonts/fonts.css);
@import url(../blocks/page/page.css);

* {
  box-sizing: border-box;
  font-family: 'Mulish', sans-serif;
}

.page__container {
  margin: 0;
  display: flex;
  flex-direction: column;
  height: 100vh;
  max-width: 1400px;
}

.content {
  position: relative;
  display: grid;
  width: 100%;
  height: 100%;
  grid-template-columns: repeat(2, 1fr);
}

@media screen and (max-width: 800px) {
  .content {
    display: block;
  }
}

.hero-section {
  position: relative;
  place-self: center;
  width: 80%;
}

@media screen and (max-width: 800px) {
  .hero-section {
    z-index: 1;
    width: 50%;
    margin: 150px 10%;
  }
}

@media screen and (max-width: 500px) {
  .hero-section {
    z-index: 1;
    width: 80%;
  }
}

.hero-section__title {
  margin: 0 0 30px;
  font-size: 40px;
}

@media screen and (max-width: 1024px) {
  .hero-section__title {
    margin: 0 0 20px;
    font-size: 30px;
  }
}

@media screen and (max-width: 800px) {
  .hero-section__title {
    margin: 0 0 20px;
    font-size: 35px;
  }
}

.hero-section__subtitle {
  margin: 0 0 15px;
  font-size: 18px;
}

@media screen and (max-width: 1024px) {
  .hero-section__subtitle {
    margin: 0 0 20px;
    font-size: 14px;
  }

  .hero-section__subtitle:last-of-type {
    margin: 0 0 20px;
  }
}

@media screen and (max-width: 800px) {
  .hero-section__subtitle {
    margin: 0 0 20px;
    font-size: 18px;
  }

  .hero-section__subtitle:last-of-type {
    margin: 0 0 20px;
  }
}

@media screen and (max-width: 500px) {
  .hero-section__subtitle {
    margin: 0 0 20px;
    font-size: 16px;
  }

  .hero-section__subtitle:last-of-type {
    margin: 0 0 30px;
  }
}

.hero-section__subtitle:last-of-type {
  margin: 0 0 30px;
}

@media screen and (max-width: 500px) {
  .hero-section__buttons-area {
    display: flex;
    flex-direction: column;
  }
}

.button {
  border: none;
  border-radius: 5px;
  width: 150px;
  height: 40px;
  background-color: #000;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
  font-size: 16px;
}

@media screen and (max-width: 1024px) {
  .button {
    width: 100px;
    height: 35px;
    font-size: 12px;
  }
}

@media screen and (max-width: 800px) {
  .button {
    width: 150px;
    height: 40px;
    font-size: 16px;
  }
}

@media screen and (max-width: 800px) {
  .button {
    width: 100%;
    height: 45px;
    font-size: 16px;
  }

  .button:first-child {
    margin-bottom: 15px;
  }
}

.button_type_register {
  color: #fff;
  margin-right: 20px;
}

.button_type_signin {
  border-radius: 5px;
  border: 1.5px solid #000;
  background-color: #fff;
}

.landing-page__image {
  width: 70%;
  place-self: center;
}

@media screen and (max-width: 800px) {
  .landing-page__image {
    position: absolute;
    right: 0;
    top: 0;
    width: 40%;
  }
}



